{% extends "layout.html" %}

{% block title %} О нас {% endblock %}


{% block content%}
<div class="tm-row">
    <div class="tm-col-left"></div>
    <main class="tm-col-right">
        <section class="tm-content tm-about">
            <h2 class="mb-5 tm-content-title">О нас</h2>
            <hr class="mb-4">
            <div class="media my-3">
                <i class="fas fa-shapes fa-3x p-3 mr-4"></i>
                <div class="media-body">
                    <!--<p>Мы оказываем бухгалтерское сопровождение компаниям малого и среднего бизнеса с 2009 года.</p>--->
                    <p>Бугутаев Аманжол Амангельдиевич: Внутренний аудитор (диплом внутреннего аудитора IFA №264275  с августа 2017года), Налоговый консультант Республики Казахстан (свидетельство №00824 от 27 июля 2016г), Профессиональный бухгалтер Республики Казахстан (сертификат №ast-000375 от 25 февраля 2016г). Стаж работы в налоговых органах 7 лет (отдел аудита юридических лиц и НДС), ревизионной службе 3 года, аудиторских и бухгалтерских компаниях  20 лет.</p>
                </div> 
            </div>
            <div class="media my-3">
                <i class="fas fa-draw-polygon fa-3x p-3 mr-4"></i>
                <div class="media-body">
                    <p>Бугутаева Динара Аманжоловна:  Профессиональный бухгалтер Республики Казахстан (сертификат №ast-003482 от 10 декабря 2019г). Магистр бухгалтерского учета, стаж работы в качестве бухгалтера компании различных отраслей 10 лет.</p>
                </div> 
            </div>
            <!--
            <div class="media my-3">
                <i class="fab fa-creative-commons-share fa-3x p-3 mr-4"></i>
                <div class="media-body">
                    <p>Vestibulum imperdiet hendrerit nibh. Integer sit amet lacus et nunc auctor tincidunt eu ac sapien. Ut suscipit velit eget faucibus finibus.</p>
                </div> 
            </div>
            <div class="media my-3">
                <i class="fas fa-bookmark fa-3x p-3 mr-4"></i>
                <div class="media-body">
                    <p>Prasent eget enim vitae sapien egestas aliquet non quis neque. Duis pharetra varius massa, ut bibendum tortor sodales ac.</p>
                </div> 
            </div>
            -->                        
        </section>
    </main>
</div>
{% endblock%}