{% extends "layout.html" %}

{% block title %} Профит {% endblock %}


{% block content%}
<div class="tm-row">
    <div class="tm-col-left"></div>
    <main class="tm-col-right">
        <section class="tm-content">
            <h2 class="mb-5 tm-content-title">Бухгалтерское обслуживание для ТОО и ИП</h2>
            <p class="mb-5">Онлайн Бухгалтер - гарантирует корректность бухгалтерского учета, своевременность сдачи обязательной отчетности в полном соответствии с законодательством Республики Казахстан, соблюдение строгих правил и конфиденциальности при работе с данными Клиента.</p>
            <hr class="mb-5">
            <p class="mb-5">Мы постоянно следим за всеми изменениями в бухгалтерском и налоговом учете, повышаем свой профессиональный уровень. Руководитель компании  -  профессиональный сертифицированный бухгалтер РК, член Ассоциации бухгалтеров Казахстана.</p>                        
            <a href="/about" class="btn btn-primary">Далее...</a>
        </section>
    </main>
</div>
{% endblock%}