{% extends "layout.html" %}

{% block title %} Услуги {% endblock %}


{% block content%}
<div class="tm-row">
    <div class="tm-col-left"></div>
    <main class="tm-col-right">
        <section class="tm-content">
            <div class="media my-3 mb-5 tm-service-media tm-service-media-img-l">
                <a href="static/img/cert1.jpg"><img src="static/img/cert1.jpg" alt="Image" class="tm-service-img" style="height: 150px; width: 100px"></a>
                <div class="media-body tm-service-text">
                    <h2 class="mb-4 tm-content-title">С нами Вы сможете:</h2>
                    <ul>
                    <li>Все свое время уделять развитию своего бизнеса</li>
                    <li>Получать всю необходимую консультативную помощь в организации учета вашего бизнеса</li>
                    <li>Сэкономить на налогах, используя законные инструменты Налогового кодекса РК</li>
                    <li>Не тратиться на зарплату, налоги, организацию рабочего места штатного бухгалтера</li>
                    <li>Сократить расходы на необходимое программное сопровождение и его обслуживание</li>
                    <li>Не бояться внезапного ухода штатного бухгалтера со всей конфиденциальной информацией и банковскими ключами</li>
                    </ul>   
                </div> 
            </div>
            <div class="media my-3 mb-5 tm-service-media">                            
                <div class="media-body tm-service-text">
                    <h2 class="mb-4 tm-content-title">Мы можем вести Вашу бухгалтерию полностью либо взять на себя её отдельные участки.</h2>
                    <ul>
                        <li>Ведение бухгалтерского и налогового учета</li>
                        <li>Восстановление бухгалтерского и налогового учета</li>
                        <li>Сдача налоговых отчетов и деклараций</li>
                        <li>Формирование годовой финансовой отчетности. Ф. 100.00</li>
                        <li>Несем полную юридическую ответственность за свою работу и конфиденциальность всей информации.</li>
                    </ul>
                </div> 
                <a href="static/img/cert2.jpg"><img src="static/img/cert2.jpg" alt="Image" class="tm-service-img-r" style="height: 150px; width: 100px"></a>
            </div>
            <div class="media my-3 mb-5 tm-service-media tm-service-media-img-l">
                <a href="static/img/cert3.jpg"><img src="static/img/cert3.jpg" alt="Image" class="tm-service-img" style="height: 150px; width: 100px"></a>
                <div class="media-body tm-service-text">
                    <h2 class="mb-4 tm-content-title">Внутренний аудит и ревизия  ТОО</h2>
                    <p style="text-align:justify">В настоящее время осуществление внутреннего аудита или ревизии Предприятия в связи с увеличением коррупции , хищении в обществе, жизненно необходимо не только в государственных компаниях, но и в компаниях частного сектора. Кроме того не знание законов не освобождает от ответственности, поэтому мы рекомендуем проведение внутреннего аудита или ревизии бухгалтерских и налоговых документов вашего ТОО  в случае возникновения сомнения и в профилактических целях для вашей компании.
                    </p>
                </div> 
            </div>
            <div class="media my-3 mb-5 tm-service-media">                            
                <div class="media-body tm-service-text">
                    <!--<h2 class="mb-4 tm-content-title"></h2>-->
                    <p style="text-align:justify">Мы предлагаем услуги в провдении всех необходимых мероприятий  в соответствии со статьей 58 Закона РК «О товариществах с ограниченной  и дополнительной ответственностью» от 22 апреля 1998года №220 специалисты по ревизии и внутреннему аудиту.</p>    
                </div> 
                <a href="static/img/cert4.jpg"><img src="static/img/cert4.jpg" alt="Image" class="tm-service-img-r" style="height: 150px; width: 100px"></a>
            </div>
            <div class="media my-3 tm-service-media tm-service-media-img-l">
                <a href="static/img/cert5.jpeg"><img src="static/img/cert5.jpeg" alt="Image" class="tm-service-img" style="height: 150px; width: 100px"></a>
                <div class="media-body tm-service-text">
                    <h2 class="mb-4 tm-content-title">Перечень услуг:</h2>
                    <ul>
                    <li>Внутренний аудит или ревизию налогового учета ТОО</li>
                    <li>Внутренний аудит или ревизию бухгалтерского учета ТОО</li>
                    <li>Осуществление проверки финансово-хозяйственной деятельности Предприятия на предмет соответствия законодательству РК</li>
                    <li>Проверка финансовой отчетности Предприятия</li>
                    <li>Контроль исполнение бюджета Предприятия</li>
                    <li>Проверка сохранности и эффективности использования активов Предприятия</li>
                    <li>Осуществление проверки сохранности товарно-материальных запасов и иных активов Предприятия</li>
                    <li>По завершению внутренних аудиторских мероприятий разрабатка рекомендации, позволяющие устранить выявленные отклонения, а также уровень риска отдельных операций или минимизировать возможные потери в соответствии с действующим законодательством РК</li>
                    <li>Консультирует руководство Предприятия по вопросам аудита, бухгалтерского учета,   налогообложения</li>
                    <li>Составление отчета о проделанной работе.</li>
                    </ul> 
                </div> 
            </div>                      
        </section>
    </main>
</div>
{% endblock%}